<div>
  <div class="main">
    <div class="top-index";>
      <header>
        <div class="header_container">
          <div class="header_left">
            <a class="header_logo" href="#">Qiita</a>
            <a class="header_community" href="#">コミュニティ</a>
            <input class="qiita_search" type="search" placeholder="キーワードを入力">
          </div>
          <div class="header_right">
            <a class="signup_button" type="signup_button" href="#">ユーザ登録</a>
            <a class="login" href="#">ログイン</a>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="wrapper-inner">
          <div class="top-wrapper">
            <div class="container">
              <h1 class="container-title">How developers code is here.</h1>
              <p class="container-lead">
                Qiitaは、エンジニアリングに関する知識を記録・共有するためのサービスです。 コードを書いていて気づいたことや、自分がハマったあの仕様について、他のエンジニアと知見を共有しましょう
              </p>
            </div>
          </div>
          <div class="login-wrapper">
            <div class="social-signup-wrapper">
              <a class="social-signup Github" href="#">GitHub</a>
              <a class="social-signup Twitter" href="#">Twitter</a>
              <a class="social-signup Google" href="#">Google</a>
            </div>
            <p class="signup-separator">or</p>
            <div class="signup-form">
              <form>
                <div class="signup_user">
                  <label class="signup-label" for="user_name">ユーザ名</label>
                  <input class="signup_input" placeholder="Qiitan">
                </div>
                <div class="signup-addr">
                  <label class="signup-label" for="user_addr">メールアドレス</label>
                  <input class="signup_input" placeholder="Qiitan@qiita.com">
                </div>
                <div class="signup-password">
                  <label class="signup-label" for="user_password">パスワード</label>
                  <input type="password" class="signup_input" placeholder="********">
                </div>
                <p class="signup-help">8文字以上、英・数・記号が使えます</p>
                <div class="signup_attention">
                  <input type="checkbox" name="check" value="1">
                  <a href="#">利用規約</a>に同意する
                </div>
                <div class="signup_privacy">
                  <input type="checkbox" name="check" value="1">
                  <a href="#">プライバシーポリシー</a>に同意する
                </div>
                <div class="signup-recaptcha">
                  <p>□ 私はロボットではありません</p>
                </div>
                <div class="signupFrom_buttonArea">
                  <div class="signupFrom_button">
                    <button>登録する</button>
                  </div>
                  <!-- <div class="signup_attention"> "登録には"<a href="#">利用規約</a>"に同意する必要があります。" </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home">
      <div class="home-container">
        <div class="home-menu">
          <a class="menu-trend" href="#">トレンド</a>
          <a class="menu-milestone" href="#">マイルストーン</a>
        </div>
      </div>
      <div class="home-main">
        <div class="home-header">
          <div class="home-trendlabel">
            <div class="home-label">
              トレンド
            </div>
            <div class="home-trendtitle">
              最近人気の記事を毎日5時/17時に更新
            </div>
          </div>
        </div>
        <div class="home-trendlist">
          <ul>
            <% @posts.each do |post| %>
            <li>
              <div class="posts-index-item">
                <%= link_to(post.content,post.url) %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <div class="footer_logo">
            <h1>Qiita</h1>
          </div>
          <div class="conpany_catchcopy">
            How developers code is here.
          </div>
          <div class="footer_socials">
            <a class="fa fa-twitter" href="https://twitter.com/qiita">twitter</a>
            <a class="fa fa-facebook" href="https://www.facebook.com/qiita/">facebook</a>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-qiita">
            <div class="footer-label">
              Qiita
            </div>
            <div class="footer-list">
              <div class="footer-point">
                <a href="#">About</a>
                <a href="#">利用規約</a>
                <a href="#">プライバシー</a>
                <a href="#">ガイドライン</a>
              </div>
              <div class="footer-point">
                <a href="#">API</a>
                <a href="#">ご意見</a>
                <a href="#">ヘルプ</a>
                <a href="#">広告掲載</a>
              </div>
            </div>
          </div>
          <div class="footer-Increments">
            <div class="footer-label">
              increments
            </div>
            <div class="footer-list">
              <div class="footer-point">
                <a href="#">About</a>
                <a href="#">採用情報</a>
                <a href="#">ブログ</a>
              </div>
              <div class="footer-point">
                <a href="#">Qiita Team</a>
                <a href="#">Qiita Jobs</a>
                <a href="#">Qiita Zine</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        © 2011-2020 Increments Inc.
      </div>
    </footer>
  </div>
</div>
<!--  <%
  posts = [
    "テストテストテスト1","testtesttest2"
  ]
%> -->
<h1>post/indexのページだよ</h1>

<div class="main posts-index">
  <div class="container1">
    <% @posts.each do |post| %>
    <div class="posts-index-item">
      <%= post.content %>
    </div>
    <% end %>
  </div>
</div>



<!--
<div class="home-trendlist">
  <ul>
    <li>
      <% @posts.each do |post| %>
  <%= link_to(post.content,"/posts/#{post.id}") %>
  <% end %>
  <li>
      <a href="https://qiita.com/8amjp/items/b089a3f2e6dbc59cd5c8">[1] スナック「jQuery」</a>
      <span>LGTM 861</span></li>
    <li>
      <a href="https://qiita.com/sugulu/items/c0e8a5e6b177bfe05e99">[2] AIエンジニアが気をつけたいPython実装のノウハウ・コツまとめ</a>
      <span>LGTM 498</span></li>
    <li>
      <a href="https://qiita.com/hirodragon/items/e2330edc1d1a329d17f5">[3] 明日から使えるDDDのためのユースケース駆動開発（ICONIXプロセス）</a>
      <span>LGTM 79</span></li>
    <li>
      <a href="https://qiita.com/zawawahoge/items/2ec3b638422c7c8cac8f">[4] 11種類のオペレーティング・システムについてまとめてみた</a>
      <span>LGTM 90</span></li>
    <li>
      <a href="https://qiita.com/Ishotihadus/items/a9c22e0eff8b490b62a9">[5] 凛世の自転周期を計測する</a>
      <span>LGTM 53</span></li>
    <li>
      <a href="https://qiita.com/rudorufu1981/items/c6bc5e4d72cfe1cb7f14">[6] 【Python】競プロテンプレ【AtCoder】</a>
      <span>LGTM 60</span></li>
    <li>
      <a href="https://qiita.com/Yupine/items/7d8f5354dac814ec3c6a">[7] 【最短で理解する】データ分析のためのPython基礎</a>
      <span>LGTM 60</span></li>
    <li>
      <a href="https://qiita.com/fruitriin/items/118c773b045101db7651">[8] Laravel7からVue.jsを使う最短レシピ</a>
      <span>LGTM 67</span></li>
    <li>
      <a href="https://qiita.com/DyingFrog/items/83b3f7221de9b9a35fcc">[9] ハッキングラボのつくりかたをやってみて試行錯誤した点</a>
      <span>LGTM 25</span></li>
    <li>
      <a href="https://qiita.com/MuAuan/items/bc40795469ceb6b574fe">[10] 【感染症モデル入門】日本各地が終息へ・・・♬</a>
      <span>LGTM 45</span></li>
  </ul>
</div>
-->

<!-- <h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
-->
